.book-detail__overlay {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  height: max(100%, 100vh - 50px);
  width: 100%;
}
.book-detail__outside-zone {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  height: calc(100vh - 50px);
  width: 100%;
}
.book-detail__wrapper {
  position: relative;
  z-index: 100;
  background-color: white;
  width: 800px;
  margin-top: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
  animation: goUp 0.7s;
}
.book-detail__closeBtn {
  z-index: 100;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  cursor: pointer;
}
.book-detail__book-image {
  display: flex;
  justify-content: center;
  height: 100%;
}
.book-detail__book-image > img {
  height: 100%;
}
.book-detail__over-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.book-detail__visionable-image {
  position: relative;
  width: 100%;
  height: 230px;
  background-color: rgba(72, 72, 72, 0.7);
}
.book-detail__float-zone-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.book-detail__float-zone {
  position: absolute;
  height: calc(100% - 100px);
  top: 100px;
  left: 80px;
  display: flex;
  flex-direction: row;
}
.book-detail__left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-detail__over-image {
  width: 150px;
  height: 230px;
  min-width: 150px;
  min-height: 230px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-position: center;
  background-size: cover;
}
.book-detail__readNowBtn {
  z-index: 1;
  position: relative;
  border: 2px solid orange;
  border-radius: 5px;
  background-color: orange;
  color: white;
  font-weight: 600;
  font-size: 15px;
  width: fit-content;
  margin-top: 20px;
  padding: 5px 10px;
  cursor: pointer;
}
.book-detail__title-and-desc {
  display: flex;
  flex-direction: column;
}
.book-detail__title {
  position: relative;
  padding-top: 70px;
  padding-left: 20px;
  font-size: 30px;
  font-weight: 600;
  color: white;
}
.book-detail__description {
  overflow: auto;
  padding: 0px 20px 0px 20px;
  margin-top: 60px;
}
.orange-line {
  height: 20px;
  background-color: orange;
}

.book-detail i {
  flex-basis: 18px;
  color: orange;
  margin-right: 10px;
}
.book-detail__desc {
  display: flex;
  margin-bottom: 10px;
}
.description-text::before {
  content: "";
  display: block;
  height: 0;
  margin-top: -3px;
}
.description-text {
  white-space: pre-wrap;
}

/* _________________________________________________ */
