.user {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 165, 0);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.user__overlay {
  width: 100%;
  height: 100%;
}
.user__visible-bg {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 40%;
}
.user__white {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 60%;
  background-color: white;
}

.user__upper-floor {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.user__wrapper {
  display: flex;
  width: 70%;
  height: 90%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 50%);
}
.user-wrapper__left {
  position: relative;
  height: 100%;
  width: 50%;

  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-clip: padding-box;
  background-image: url("../../img/test.jpg");
  background-position: center;
  background-size: cover;
}
.user-wrapper__left-overlay {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  height: calc(100% + 2px);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-clip: padding-box;
  background-color: rgb(255, 165, 0, 0.75);
}
.user__welcome-text {
  display: flex;
  justify-content: flex-end;
  text-align: end;
  margin-top: 60px;
  margin-right: 20px;
  color: white;
  font-size: 50px;
  animation: goRight 0.7s;
}
.user-wrapper__right {
  display: flex;
  height: 100%;
  width: 50%;
  animation: goUp 0.7s;
}
