.book-lib {
  background-color: white;
  /* height: 1000px; */
  padding: 0px 110px;
}
.book-lib__section-title {
  font-weight: bolder;
  color: orange;
  font-size: 30px;
  padding-top: 30px;
}
.book-lib__book-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.book-lib__book-card {
  /* flex-grow: 1; */
  /* background-color: white; */

  margin-top: 20px;
  padding: 10px 10px;
  width: 20%;
}
.book-lib__book-card-wrapper {
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: white;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgb(0 0 0 / 8%);
  padding-bottom: 10px;
  transition: all 0.3s;
}
.book-lib__book-card-wrapper:hover {
  transform: translateY(-10px);
}
.book-card__image {
  /* flex-grow: 1; */
  height: 270px;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  /* background-image: url(../../img/chuyen-con-meo-day-hai-au-bay-tb-2017.jpg); */
}
.book-card__image > img {
  max-width: 100%;
  height: 100%;
}
.book-card__lower-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.book-card__title {
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  font-size: 17px;
  padding: 0px 10px;
}
.book-card__type {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 14px;
  color: grey;
}
.book-card__btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}
.book-card__btn {
  position: relative;
  padding: 5px 10px;
  font-weight: 600;
  border-radius: 5px;
}
.book-card__detail-btn {
  z-index: 1;
  background-color: orange;
  border: 2px solid orange;
  color: white;
  margin-right: 14px;
  cursor: pointer;
}
.book-card__detail-btn:hover {
  color: orange;
}
.book-card__detail-btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  transform-origin: center right;
  transform: scaleX(0);
  transition: transform 0.25s ease-in-out;
}
.book-card__detail-btn:hover::before {
  transform-origin: center left;
  transform: scaleX(1);
}
.book-card__preview-btn {
  border: 2px solid orange;
  color: orange;
}

@media screen and (max-width: 1100px) {
  .book-lib__book-card {
    width: 25%;
  }
}

@media screen and (max-width: 1050px) {
  .book-lib__book-card {
    width: 33.33%;
  }
}
/* _________________________________________________ */
@keyframes goUp {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
